.text-centered { text-align: center; }

.poweredby {
  float: left;
  width: 100%;
  text-align: center;
}

.poweredby img {
  width: 65px;
  margin: 20px auto;
  height: auto;
  background: none !important;
  box-shadow: none !important;
}

.pure_col[class*="span"] {
	margin-left: 0 !important; 
}